<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="extentReports.ExtentReportListener" />
	</listeners>
	<test thread-count="5" name="Test" parallel="tests">
		<parameter name="browser" value="chrome"></parameter>
		<classes>
		 	<class name="testNgTests.HomeTest"/>
			<class name="testNgTests.LoginTest" />
		  	<class name="testNgTests.Registration"/>
			<class name="testNgTests.ArraysTest"/>
		 	<class name="testNgTests.StackTest"/>
			<class name="testNgTests.DataStructures"/>
		 	<class name="testNgTests.Graph"></class>
			<class name="testNgTests.QueueTest"/>
			<class name="testNgTests.TreeTest"/>
		</classes>
	</test> <!--Test -->
</suite> <!--Suite -->
  